{{ block "index" . }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<title></title>
		<meta
			name="description"
			content="" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="/static/css/styles.css" />
		<link
			rel="stylesheet"
			href="/static/css/for-htmx.css" />
		<script
			src="/static/js/htmx.min.js"
			async
			defer></script>
		<script
			src="/static/js/utils.js"
			async
			defer></script>
	</head>
	<body
		class="container mx-auto flex flex-col space-y-3 px-8 min-h-screen bg-teal-100">
		<!--[if lt IE 7]>
			<p class="browsehappy">
				You are using an <strong>outdated</strong> browser. Please
				<a href="#">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

		{{ template "form" .Form }}
		<hr />
		{{ template "contacts" .Data }}
	</body>
</html>
{{ end }} {{ block "form" . }}
<form
	hx-post="/contacts"
	hx-swap="outerHTML"
	class="flex flex-col space-y-2">
	<label for="name">Name</label>
	<input
		{{
		if
		.Values.name
		}}
		value="{{ .Values.name }}"
		{{
		end
		}}
		type="text"
		name="name" />
	<label for="email">Email</label>
	<input
		{{
		if
		.Values.email
		}}
		value="{{ .Values.email }}"
		{{
		end
		}}
		type="text"
		name="email" />
	{{ if .Errors.email }}
	<div class="text-red-500">{{ .Errors.email }}</div>
	{{ end }}
	<button
		type="submit"
		class="bg-amber-500 px-2 py-1 rounded-md">
		Create contact
	</button>
</form>
{{ end }} {{ block "contacts" . }}
<div
	class="flex flex-col space-y-3"
	id="contacts">
	{{ range .Contacts }} {{ template "contact" . }} {{ end }}
</div>
{{ end }} {{ block "contact" . }}
<div
	id="contact-{{ .Id }}"
	class="contact flex flex-row space-x-2 items-center justify-center bg-blue-100">
	<div
		class="flex flex-col space-y-1 border-[1px] border-slate-400 rounded-md p-4 w-full">
		<span> Name: {{ .Name }} </span>
		<span> Email: {{ .Email }} </span>

		<div
			id="ci-{{ .Id }}"
			class="htmx-indicator">
			<img
				src="static/images/bars.svg"
				alt="loading" />
		</div>
	</div>
	<a
		hx-indicator="#ci-{{ .Id }}"
		hx-target="#contact-{{ .Id }}"
		hx-swap="outerHTML swap:500ms"
		hx-delete="/contacts/{{ .Id }}"
		href=""
		class="font-bold text-xl px-2 cursor-pointer"
		>X</a
	>
</div>
{{ end }} {{ block "oob-contact" . }}
<div
	id="contacts"
	hx-swap-oob="afterbegin"
	class="flex flex-col space-y-1 border-[1px] border-slate-400 rounded-md p-4">
	{{ template "contact" . }}
</div>
{{ end }}
